@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* HEADER COMPONENTS */
.header {
  text-align: center;
  background: #33b5e5;
  color: #fff;
  height: 85px;
  margin-bottom: 50px;
}
.header h1 {
  font-weight: 600;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}
li {
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

/* CONTAINER */

.container {
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  justify-content: center;
}
.items {
  display: block;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1 {
  font-weight: 600;
}
h1 .price {
  font-weight: 300;
  font-size: 20px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item input {
  width: 50px;
}
img {
  height: 150px;
  width: 120px;
  padding: 20px;
  border-radius: 25px;
}
#total {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  
}
.contact {
  display: grid;
}
.contact label {
  font-weight: 600;
}
.contact input {
  width: 300px;
  text-align: center;
  padding: 5px;
}
.btn {
  margin: 10px 0;
}
